* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
  }


.itemContainer{
    width: 1010px;
    display: flex;
    flex-wrap: wrap;

}

.itemPicture{
    width: 230px;
    height: 330px;

}

.itemList{
    border-style: solid;
    padding: 10px;
    border-width: 1px;

}

.addBtn{
    width: 100%;
    border: none;
    color: white;
    background-color: black;
    padding: 15px 0;
    margin-top: 10px;
}

.cartContainer{
    width: 450px;
}
.leftSideCart{
    display: flex;
}

.pictureTitle{
    display: flex;
    justify-content: center;
}

.itemPrice{
    display: flex;
    justify-content: center;
}

.itemInstallment{
    display: flex;
    justify-content: center;
}

.addBtn:hover{
    background-color: gold;
}

.itemHeader{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;

}

.shoppingCartImg{
    background-color: gold;

}

.shoppingCart{
    display: flex;
    justify-content: flex-end;
}

.cartContainer{
    background-color: hotpink;
}

.cartContent{
    
}

.thumbImg{
    width: 60px;
    height: 86px;
}

.theCart{
    display: flex;  
    justify-content: space-between;
}

.xCursor{
    cursor: pointer;
}